:5000 {
    root * /app/dist/public

    route /assets/* {
        file_server
    }

    route /images/* {
        file_server
    }

    route /gallery/* {
        file_server
    }

    route /videos/* {
        file_server
    }

    try_files {path} /index.html
}
