:5000 {
    root * /app/dist/public

    handle_path /images/* {
        root * /app/dist/public
        file_server
    }

    handle_path /assets/* {
        root * /app/dist/public
        file_server
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}

